### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school = pd.read_csv(school_data_to_load)
student = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student, school, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Count the total number of schools
Total_Schools = df['school_name'].nunique()

#Count the total number of students
Total_Students = df['student_name'].count()

# Find the total budget for all schools in the district
Total_Budget = school['budget'].sum()

# Find the average Scores of Math and reading rounded to the 6th place as per example
Avg_Math = (df['math_score'].mean()).round(6)
Avg_Read = (df['reading_score'].mean()).round(6)

# Find total number of students who passed Math
Pass_Math = sum(x >= 70 for x in df['math_score'])

# Find total number of students who passed Reading
Pass_Read = sum(x >= 70 for x in df['reading_score'])

#Find total number of students who passed Math and Reading
Pass_Read_Math = len(df.loc[(df['math_score'] >= 70) & (df['reading_score'] >= 70)])

# Calculate all passing percentages
Pass_Math_Per = ((Pass_Math / Total_Students) * 100)
Pass_Read_Per = ((Pass_Read / Total_Students) * 100)
Pass_Read_Math_Per = ((Pass_Read_Math / Total_Students) * 100)

In [3]:

Summary_df = pd.DataFrame([{'Total Schools': Total_Schools, 'Total Students': Total_Students, 'Total Budget': Total_Budget, 
    'Average Math Score': Avg_Math, 'Average Reading Score' : Avg_Read, 'Pass Math (%)' : Pass_Math_Per, 
    'Pass Reading (%)' : Pass_Read_Per, 'Pass Overall (%)': Pass_Read_Math_Per}])

Summary_df.style.format({"Total Students": '{:,}', 'Total Budget': '${:,}', 'Average Math Score': '{:.2f}',
                        'Average Reading Score': '{:.2f}', 'Pass Math (%)': '{:.2f}', 'Pass Reading (%)': '{:.2f}',
                        'Pass Overall (%)' : '{:.2f}'})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type